@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
}

.modalContainer {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items:center;
  z-index: 100;
}

.modal {
  background-color: #fff;
  z-index: 101;
  width: 670px;
  border: 1px solid #b2bdc2;
  border-radius:5px;
  box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.08);
  position: relative;
  padding: 15px;
}

.modalAlignImageBtn {
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.modal .mealNutrientsContainer {
  margin-right: 20px;
}

.closeModal {
  width: 25px;
  height: 25px;
  font-size: 20px;
  color: #b2bdc2;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.sourceLink {
  text-decoration: none;
  font-size: 16px;
  color: #012e41;
  border: 1px solid #b2bdc2;
  border-radius: 3px;
  padding: 20px 24px;
  display: inline-block;
  margin-right: 50px;
}

.modalDesc {
  font-size:14px;
  color: #012e41;
  margin-left: 27px;
  margin-top: 30px;
}

.modalSummary {
  font-size: 18px;
  color: #6b8089;
  margin-left: 27px;
  margin-top: 15px;
  margin-right: 27px;
  margin-bottom: 15px;
  line-height: 25px;
}

.modalSummary a {
  color: #6b8089;
}

.modalImageContainer {
  height: 185px;
  display: flex;
  justify-content:start;
  align-items:center;
  overflow: hidden;
  padding: 27px;
}

.modalImage {
  height: 100%;
}

.modalTitle {
  font-size: 32px;
  color: #012e41;
  margin-left: 27px;
}

.modalSource {
  font-size:14px;
  color: #6b8089;
  margin-left: 27px;
  font-weight: 400;
  margin-top: 22px;
}

.modalAlign {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  display: flex;
}

.mainContainer {
  width: 75%;
}

.searchContainer {
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  margin-top: 75px;
}

.searchInput {
  width: 650px;
  height: 73px;
  border: 1px solid #b2bdc2;
  border-radius: 4.4px;
  padding-left: 25px;
  font-size: 21px;
  color: #012E41;
  padding-right: 10px;
}

.searchInput::placeholder {
  color: #A5a5a5;
}

.searchBtn {
  width: 222px;
  height: 73px;
  background-color: #028c8c;
  border: 1px solid #41a8a8;
  border-radius: 4.4px;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
}

.searchSelect {
  width: 219px;
  height: 73px;
  border: 1px solid #b2bdc2;
  border-radius: 4.4px;
  padding-left: 55px;
  font-size: 21px;
  color: #012E41;
}

.mealContainer {
  width: 370px;
  height: 300px;
  border: 1px solid #b2bdc2;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
}

.mealContainer:hover {
  border-color: #012e41;
}

.mealImageContainer {
  height: 50%;
  display: flex;
  justify-content:center;
  align-items:center;
  overflow: hidden;
}

.mealImage {
  height: 80%;
}

.mealTitle {
  font-size: 21px;
  color: #012E41;
  padding-left: 28px;
  padding-right: 10px;
  margin-top: 15px;
}

.mealNutrientsContainer {
  margin-top: 30px;
  margin-left: 27px;
  display: flex;
}

.mealNutrients {
  border-radius: 24px;
  padding: 12px;
  font-size: 12px;
  color: #012e41;
  margin-right: 8px;
}

.mealNutrients.calories {
  background-color: #e1f3f3;
}

.mealNutrients.carbs {
  background-color: #f3ebe1;
}

.mealNutrients.fat {
  background-color: #f3e1f2;
}

.mealNutrients.protein {
  background-color: #fadddd;
}

.mealsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 53px;
}

.addBtn {
  color: #028c8c;
  font-size: 30px;
  border-radius:50px;
  border: none;
  background-color: #fff;
  position: absolute;
  top: 25px;
  right:25px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #f3e1e6;
}

.mealPlanItemContainer {
  width: 370px;
  border: 1px solid #b2bdc2;
  border-radius: 5px;
  margin-bottom: 32px;
  position: relative;
  height: auto;
}

.mealPlanImageContainer {
  height: 40%;
  display: flex;
  overflow: hidden;
  justify-content:start;
  align-items:center;
  margin-left: 20px;
  padding-top: 10px;
}

.mealPlanImage {
  height: 75px;
}

.mealPlanTitle {
  font-size: 21px;
  color: #012E41;
  margin-left: 28px;
  padding-right: 10px;
  margin-top: 10px;
}


.mealPlanItemContainer .mealNutrientsContainer {
  margin-top: 20px;
  margin-bottom: 20px;

}

.removeBtn {
  font-size: 25px;
  width:38px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid #b2bdc2;
  color: #cd4747;
  position: absolute;
  top: 20px;
  right: 20px;
}

.removeBtn:hover {
  background-color: #fff;
  cursor: pointer;
}

.mealPlanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 76px;
}

.mealPlanContainer .mealNutrientsContainer {
  margin-bottom: 50px;
  margin-top: 30px;
}

.mealPlanSummary {
  font-size: 14px;
  color: #012e41;
}

.summaryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width:100%;
}

.clearAll {
  width:22px;
  height: 22px;
  border: 1px solid #b2bdc2;
  border-radius: 11px;
  background-color: #fff;
  color: #cd4747;
  font-size: 14px;
  font-weight: 700;
  margin-left: 12px;
  cursor: pointer;
}

.mealSource {
  font-size: 14px;
  color: #6b8089;
  margin-left: 28px;
  margin-top: 6px;
}

@media only screen and (max-width: 1275px) {
  .container {
    flex-direction: column;
  }

  .mainContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 797px) {
  .searchContainer {
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .mealContainer {
    margin-right: 0;
  }

  .modal {
    width: 90%;
    height: 500px;
    overflow-y: scroll;
  }

  .sourceLink {
    margin-right: 10px;
  }

  .mealNutrientsContainer {
    flex-wrap: wrap;
  }
}